body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.launching-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
  flex-direction: column;
}

.launching-soon-container h1 {
  font-size: 3rem;
  margin: 0;
}

.launching-soon-container p {
  font-size: 1.5rem;
}
